.detailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;
  width: 85vw;
}

.detailRecipe {
  width: 100%;
  display: flex;
  gap: 1rem;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: left;
}

.detailRecipe img {
  width: 35%;
  height: 450px;
  object-fit: cover;
}

.detailRecipe p {
  font-weight: 600;
  font-size: 1.4;
}

.detailRecipe span,
ol {
  font-weight: 390;
}
